* {
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 9pt;
}

window#waybar {
  background-color: #222;
  padding: 0 5px;
  color: #fff;
}

#workspaces button {
  padding: 0 5px;
  background-color: #222;
  color: #fff;
  border-bottom: 3px solid transparent;
}

#workspaces button.visible {
  padding: 0 5px;
  background-color: #222;
  color: #fff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  background-color: #222;
  color: #fff;
  border-bottom: 3px solid #fff;
  }

#workspaces button.focused {
  background-color: #4d4d4d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #222;
  border-bottom: 3px solid transparent;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#idle_inhibitor
{
  padding: 0 10px;
  color: #ffffff;
}

#battery.charging {
  color: #ffffff;
  background-color: #26A65B;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature.critical {
  background-color: #eb4d4b;
}
